---
import GithubIcon  from "../components/icons/GithubIcon.astro"
import StyledCIcons  from "../components/icons/StyledCIcons.astro"
import SupabaseIcon  from "../components/icons/SupabaseIcon.astro"
//import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import ReactIcon from "./icons/ReactIcon.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon:  "next",
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  REACT:{
    name:"React",
    class: "bg-blue",
    icon: ReactIcon,
  },
  StyledComponents: {
    name:"Styled-Components",
    class: "bg-blue ",
    icon: StyledCIcons,
  },
  ReactQ: {
    name:"React Query",
    class: "bg-blue",
    icon:ReactIcon,
  },
  Supabase: {
    name:"Supabase",
    class: "bg-blue",
    icon:SupabaseIcon,
  },
  Vite: {
    name:"Vite.js",
    class: "bg-blue",
    icon:"icon",
  }
}
const PROJECTS = [
  {
    title: "The-wild-oasis ",
    description:
      "Aplicación web moderna está diseñada para facilitar las reservas de cabañas, utilizando tecnologías avanzadas y las últimas prácticas en desarrollo de aplicaciones. Ofrece a los usuarios una experiencia fluida y agradable para planificar sus escapadas a la naturaleza. Proyecto desarrollado como parte del curso 'The Ultimate React Course 2024: React, Redux & More'.",
    link: "https://the-wild-oasis-luisnv.netlify.app/login",
    github: "https://github.com/luisnarv/The-wild-oasis",
    image: "/Projects/the-wild-oasis.webp",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.StyledComponents, TAGS.ReactQ, TAGS.Supabase, TAGS.Vite],
  },
  {
    title: "AdventJS - Retos de programación con JavaScript y TypeScript",
    description:
      "Plataforma gratuita con retos de programación. Más de 1 millón de visitas en un mes. +50K retos completados. Creada desde cero con Next.js, React y Tailwind CSS.",
    link: "https://adventjs.dev",
    image: "/projects/adventjs.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt={title+".webp"} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GithubIcon class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>


